.git
.vscode
.idea

.DS_Store

tmp/

*.log

**/__pycache__/
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/

**/*.aux
**/*.bbl
**/*.bcf
**/*.blg
**/*.fdb_latexmk
**/*.fls
**/*.lof
**/*.lot
**/*.out
**/*.run.xml
**/*.synctex.gz
**/*.toc
**/*.xdv
**/*.xwm

**/*-preprint.pdf
**/*-postprint.pdf
**/smoke-render.pdf