# macOS
.DS_Store

# Editor/IDE
.vscode/

# TeX and LaTeX intermediates
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc

# Temporary files
*.swp
*.tmp
tmp/
